<div class="form">
  <mat-checkbox>Date and Time</mat-checkbox>
  <div class="center">
    <span>Sim: 13:51 17.11.2021</span>
    <span>Flight: 13:51 17.11.2021</span>
  </div>
  <div class="grid-align-end">
    <mat-checkbox>Auto-Set</mat-checkbox>
  </div>

  <mat-checkbox>Fuel</mat-checkbox>
  <div class="center">
    <span>Sim: 0,00 | Flight: 4690,00</span>
  </div>
  <div class="grid-align-end">
    <mat-checkbox>Auto-Set</mat-checkbox>
  </div>

  <mat-checkbox>Payload</mat-checkbox>
  <div class="center">
    <span>Sim: 375,00 | Flight: 0,00</span>
  </div>
  <div class="grid-align-end">
    <mat-checkbox>Auto-Set</mat-checkbox>
  </div>

  <mat-checkbox>Plane model</mat-checkbox>
  <div class="center">
    <span>Sim: Toliss A340-600</span>
    <span>Flight: A340-600</span>
  </div>
  <div class="grid-align-end"></div>

  <mat-checkbox>Realism</mat-checkbox>
  <div class="center">
    <span>NO slew, No unlimited fuel, Crash detection, SimRate=1</span>
  </div>
  <div class="grid-align-end"></div>

  <mat-checkbox>Location</mat-checkbox>
  <div class="center">
    <span>5742,34km from starting location - On ground</span>
  </div>
  <div class="grid-align-end">
    <button mat-flat-button color="primary">Slew</button>
  </div>
</div>

<div class="row w-100">
  <button
    mat-flat-button
    color="primary"
    class="w-100"
    style="margin-right: 6px"
  >
    Start Tracking
  </button>
  <button mat-flat-button color="warn" class="w-100">Abort Flight</button>
</div>
