:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  flex-direction: column;
}

span.header {
  font-weight: 500;
}

span.route {
  font-weight: 400;
  color: #ccc;
}
