<div class="row">
  <div class="col">
    <p>Depature:</p>
    <p>Destination:</p>
    <p>Alternate:</p>
  </div>
  <div class="col">
    <app-badge-text opensky-primary>EDDL</app-badge-text>
    <app-badge-text opensky-primary>EDDM</app-badge-text>
    <app-badge-text opensky-accent>EDDS</app-badge-text>
  </div>
  <div class="col">
    <p>Dusseldorf</p>
    <p>Munich</p>
    <p>Stuttgart Airport</p>
  </div>
</div>
<button mat-flat-button color="primary" class="w-100">
  Import waypoints from Simbrief flight plan
</button>
