<app-weight-and-balance-element [value]="14">
  Center of gravity
</app-weight-and-balance-element>
<app-weight-and-balance-element [value]="14">
  Lateral CG
</app-weight-and-balance-element>
<app-weight-and-balance-element [value]="14">
  Payload weight
</app-weight-and-balance-element>
<app-weight-and-balance-element [value]="14">
  Max tekeoff weight
</app-weight-and-balance-element>
<button mat-flat-button color="primary">Set in sim to test</button>
<button mat-flat-button color="accent">Show advanced</button>
